.background {
    background: linear-gradient(45deg, #C5D2E5,#D5E1ED);
    font-family: 'Cafe245surround';
    width: 100vw;
    height: 100vh;

    /*배경 가운데 정렬*/
    margin: auto;
    text-align: center;
}
h1{
    display: inline-block;
    width: 50vw;
    margin: 50px auto;
    text-align: center;
    padding: 0;
    color: black;
}

.button {
    color : black;
    padding: 10px;
    border: 10px;
    border-radius: 6px;
    width: fit-content;
    margin: 20px auto;
}
.button a{
    color: black;
}
.button:hover{
    border: 2px solid black;
}
.button:active{
    color: black;
}
.text{
    margin-top: 30px;
    font-family: 'Cafe240neprettynight';
}
.text h5 p {
    columns: #888;
}

.go_home{
    font-family: 'Cafe240neprettynight';
    text-decoration: underline;
    color: black;
}


